* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://i.pinimg.com/originals/ed/db/58/eddb58199250e1ea5faaf9a867b7265b.png');
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #000000;
}

.hero::before {
    content: "";
    position: absolute;
    z-index: -1;
}

/* Menu de navegacion */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    display: inline-block;
    list-style-type: none;
  }
  
  .nav__title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(11, 10, 10);
    text-decoration: none;
    text-align:center;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px  1px 2px rgb(255, 255, 255),
               1px  1px 1px rgb(255, 255, 255),
              -2px  1px 2px rgb(255, 255, 255),
               2px -1px 2px rgb(255, 253, 253);
  }
  
  .nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    font-size: 20px;
  }
  
  .nav__items {
    list-style: none;
  }
  
  .nav__links {
    color: #fff;
    text-decoration: none;
  }
  
  .nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
  }
  
  .nav__img {
    display: block;
    width: 30px;
  }
  
  .nav__close {
    display: var(--show, none);
  }


#Horario {
    width: 450px;
    background: #7e7e7e;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}

select {
    background: white;
    flex: 1;
    padding: 0 .5em;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    padding: 3px;
    font-size: 15px;
    text-align: center;
}

.select {
    display: flex;
    width: 370px;
    height: 40px;
    line-height: 3;
    background: #000000;
    overflow: hidden;
    border-radius: .35em;
    margin: 10px;
    border: 1px solid #96badd;
}

#Nombre {
    margin: auto;
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#Nombre h1 {
    padding: 10px;
}

.controls {
    width: 370px;
    height: 40px;
    background: #ffffffbb;
    padding: 10px;
    border-radius: .35em;
    border: 1px solid #96badd;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

::placeholder {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.send-button {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid #000000;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, #778899 60%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.send-button:hover {
    background-position: right;
    color: white;
    font-weight: 700;
}

.about {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 22px;
    padding: 50px 50px 1px 20px;
    color: aliceblue;
    text-decoration: none;
    text-align:center;
    font-weight: 700;
    text-shadow: 2px  1px 2px gray,
                1px  1px 1px gray,
                -2px  1px 2px black,
                2px -1px 2px gray;
    }

/* Footer */

.footer {
    background-color: #dc4242;
    margin-top: 185px;
    display: flex;
    justify-content: space-around
  }
  
  .footer__copy {
    padding: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .footer__copyright {
    font-weight: 300px;
    color: #000000;
  }
  
  .footer__icons {
    margin-bottom: 10px;
    color: #000000;
  }
  
  .footer__img {
    width: 30px;
    color: #000000;
  }