* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("https://www.uleam.edu.ec/wp-content/uploads/2018/11/entrega.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: rgb(255, 255, 255);
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Menu de navegacion */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}

.nav__title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(11, 10, 10);
  text-decoration: none;
  text-align:center;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px  1px 2px rgb(255, 255, 255),
             1px  1px 1px rgb(255, 255, 255),
            -2px  1px 2px rgb(255, 255, 255),
             2px -1px 2px rgb(255, 253, 253);
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  font-size: 20px;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav__close {
  display: var(--show, none);
}

/* Main */

#caja-login {
  width: 450px;
  background: #f94444b6;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

#caja-login h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.controls {
  width: 100%;
  background: #040404bb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: rgb(247, 241, 241);
}

#caja-login p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

#caja-login a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#caja-login a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.send-button {
  padding: 15px 25px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid rgb(65, 69, 72);
  border-radius: 4px;
  color: rgb(16, 16, 16);
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, rgb(255, 0, 0) 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.send-button:hover {
  background-position: right;
  color: rgb(1, 1, 1);
  font-weight: 700;
}

/* Footer */

.footer {
  background-color: #dc4242;
  margin-top: 185px;
}

.footer__copy {
  padding: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer__copyright {
  font-weight: 300px;
  color: #000000;
}

.footer__icons {
  margin-bottom: 10px;
  color: #000000;
}

.footer__img {
  width: 30px;
  color: #000000;
}